<main class="artworks">
    <div class="columns">
        <div class="filters">
            <div class="name">
                <h2>Name</h2>
                <ul>
                    <li>A-E</li>
                    <li>F-J</li>
                    <li>K-O</li>
                    <li>P-T</li>
                    <li>U-Z</li>
                </ul>
            </div>
            <div class="timeline">
                <h2>Timeline</h2>
                <ul>
                    <li>1300-1400</li>
                    <li>1401-1500</li>
                    <li>1501-1600</li>
                    <li>1601-1700</li>
                    <li>1701-1800</li>
                    <li>1801-1900</li>
                    <li>1901-2000</li>
                    <li>FROM 2001</li>
                </ul>
            </div>
            <div class="genres">
                <h2>Genres</h2>
                <ul>
                    <li>History</li>
                    <li>Genre</li>
                    <li>Landscape</li>
                    <li>Portrait</li>
                    <li>Still Life</li>
                </ul>
            </div>
            <div class="countries">
                <h2>Countries</h2>
                <ul>
                    <li>Belgium</li>
                    <li>China</li>
                    <li>France</li>
                    <li>Italy</li>
                    <li>Spain</li>
                    <li>The Netherlands</li>
                    <li>United States</li>
                </ul>
            </div>
        </div>
        <div class="artworks-list">
            <div class="artwork-container">
                <div class="imgHolder">
                    <a href="#"><img src="img/@path@" alt="@voornaam@"></a>
                    <h3>@voornaam@</h3>
                    <h3>@achternaam@</h3>
                </div>
            </div>
            <div class="artwork-container">
                <div class="imgHolder">
                    <a href="#"><img src="img/@path@" alt="@voornaam@"></a>
                    <h3>@voornaam@</h3>
                    <h3>@achternaam@</h3>
                </div>
            </div>
            <div class="artwork-container">
                <div class="imgHolder">
                    <a href="#"><img src="img/@path@" alt="@voornaam@"></a>
                    <h3>@voornaam@</h3>
                    <h3>@achternaam@</h3>
                </div>
            </div>
            <div class="artwork-container">
                <div class="imgHolder">
                    <a href="#"><img src="img/@path@" alt="@voornaam@"></a>
                    <h3>@voornaam@</h3>
                    <h3>@achternaam@</h3>
                </div>
            </div>
            <div class="artwork-container">
                <div class="imgHolder">
                    <a href="#"><img src="img/@path@" alt="@voornaam@"></a>
                    <h3>@voornaam@</h3>
                    <h3>@achternaam@</h3>
                </div>
            </div>
            <div class="artwork-container">
                <div class="imgHolder">
                    <a href="#"><img src="img/@path@" alt="@voornaam@"></a>
                    <h3>@voornaam@</h3>
                    <h3>@achternaam@</h3>
                </div>
            </div>
            <div class="artwork-container">
                <div class="imgHolder">
                    <a href="#"><img src="img/@path@" alt="@voornaam@"></a>
                    <h3>@voornaam@</h3>
                    <h3>@achternaam@</h3>
                </div>
            </div>
            <div class="artwork-container">
                <div class="imgHolder">
                    <a href="#"><img src="img/@path@" alt="@voornaam@"></a>
                    <h3>@voornaam@</h3>
                    <h3>@achternaam@</h3>
                </div>
            </div>
        </div>
</main>
</body>
</html>