<main class="index">
  <div class="slider">
    <div class="container">
      <div class="text">
        <h2>Finest art selection</h2>
        <p>
          Looking for an artist? We have made a selection of the best and
          the most famous paintings by artist.
        </p>
        <button><a href="./artists.php">Browse by artist</a></button>
      </div>
    </div>
    <div class="image">
      <img
              src="./images/@path@"
              alt="image"
      />
    </div>
  </div>
</main>
</body>
</html>
