<main class="index">
  <div class="slider">
    <div class="container">
      <div class="text">
        <h2>Finest art selection</h2>
        <p>
          Looking for an artist? We have made a selection of the best and
          the most famous paintings by artist.
        </p>
        <button><a href="./artists.html">Browse by artist</a></button>
      </div>
    </div>

    <div class="image">
      <img
              src="./styles/images/Peter_Paul_Rubens_-Familie_van_Jan_Bruegel.jpg"
              alt="image"
      />
    </div>
  </div>
</main>
</body>
</html>
