
<div class="row">
  <label for="artiest_voornaam" class="col-sm-4 col-form-label">Artiest Voornaam:</label>
  <input type="text" class="form-control-plaintext" id="artiest_voornaam" name="artiest_voornaam" value="@artiest_voornaam@">
  @img_filename_error@
</div>

<div class="row">
  <label for="artiest_achternaam" class="col-sm-4 col-form-label">Artiest Achternaam:</label>
  <input type="text" id="artiest_achternaam" name="artiest_achternaam" value="@artiest_achternaam@" readonly>
  @img_filename_error@
</div>